<div>
    <h2 id="page-heading">
        <span>Cars</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-car" [routerLink]="['/car/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Car
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cars?.length === 0">
        <span>No cars found</span>
    </div>
    <div class="table-responsive" *ngIf="cars?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="make"><span>Make</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="model"><span>Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span>Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let car of cars ;trackBy: trackId">
                <td><a [routerLink]="['/car', car.id, 'view' ]">{{car.id}}</a></td>
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.price}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/car', car.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/car', car.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/car', { outlets: { popup: car.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
